body {
	background: url("pattern.jpg");
	
}
./*navbar-nav {
	float: right;
}*/
section{
	margin-top: 10px;

}
header{
	margin-bottom: 70px;
}
footer{
	background-color: black;
	height: 50px;
	color: white;

}
.container{
	background: white;
	padding: 5px;
}
